.list-cell {
    -fx-background-color: #ffe1b2
}

.list-cell:selected:focused,
.list-cell:hover {
    -fx-background-color: linear-gradient(#328BDB 0%, #207BCF 25%, #1973C9 75%, #0A65BF 100%);
    -fx-text-fill: white;
}