.list-cell {
    -fx-background-color: #ffe1b2;
    -fx-font-family: "Algerian";
}

.list-view {
    -fx-border-color: #000000;
}

.list-cell:filled:selected:focused {
    -fx-background-color: linear-gradient(#3254db 0%, #2043cf 25%, #1948c9 75%, #0a16bf 100%);
    -fx-text-fill: white;
    -fx-cursor: HAND;
}

.list-cell:filled:hover {
    -fx-background-color: linear-gradient(#328BDB 0%, #207BCF 25%, #1973C9 75%, #0A65BF 100%);
    -fx-text-fill: white;
    -fx-cursor: HAND;
}

#ttsBtn1:hover,
#xBtn:hover {
    -fx-cursor: HAND;
}