.list-cell {
    -fx-background-color: #ffe1b2;
    -fx-font-family: "Algerian";
}

.list-view {
    -fx-border-color: #000000;
}

.list-cell:filled:selected:focused {
    -fx-background-color: #9341c7;
    -fx-text-fill: white;
    -fx-cursor: HAND;
}

.list-cell:filled:hover {
    -fx-background-color: #7b00ff;
    -fx-text-fill: white;
    -fx-cursor: HAND;
}

#ttsBtn1:hover,
#xBtn:hover {
    -fx-cursor: HAND;
}